.cart-content {
  position: fixed;
  z-index: 1;
  top: 0;
  right: 0;
  height: 100%;
  width: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.5);
}

.cart-item-content {
  padding: 20px;
  color: white;
  width: 30%;
  background-color: #f0f0f0;
  margin: 0% 70%;
  color: black;
}
.cart-item-content img {
  width: 50px;
}
