.cart-title {
  float: left;
}

.closeMenu {
  cursor: pointer;
  font-size: 30px;
  float: right;
}

.cart-items {
  margin-top: 20px;
  padding: 10px;
}

.remove-cart-product {
  vertical-align: top;
  font-size: 20px;
  cursor: pointer;
}

.cart-item-table td {
  padding: 0px 10px;
}

.cart-quantity {
  width: 40px;
  margin-right: 10px;
}
